{#
actions?: {
    route: string
    label: string
    confirmation: string
}[]
chapters: {
    folder: string
    displayName?: string
    createDate: DateTime
}[]
links?: string[]
#}

<ul class="chapter-list">
    {% for chapter in chapters %}
        <li>
            <div class="chapter-list__item">
                <div class="chapter-list__name">
                    <a href="{{ path('read', { folder: chapter.folder }) }}">
                        {{ chapter.displayName ?? chapter.folder }}
                    </a>
                </div>
                <div>
                    <div class="chapter-list__date">
                        {{ chapter.createDate.format('Y-m-d') }}
                    </div>
                    <div class="chapter-list__time">
                        {{ chapter.createDate.format('H:i:s') }}
                    </div>
                </div>
                {% for action in actions ?? [] %}
                    <div>
                        <a class="chapter-list__action"
                           data-confirmation="{{ action.confirmation }}"
                           href="{{ path(action.route, { folder: chapter.folder }) }}"
                        >
                            {{ action.label }}
                        </a>
                    </div>
                {% endfor %}
                {% for link in links ?? [] %}
                    <div>
                        <a href="{{ path(link, { folder: chapter.folder }) }}">
                            {{ link }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>
