{#
    actions?: {
        route: string
        label: string
        confirmation: string
    }[]
    chapters: {
        folder: string
        displayName?: string
        createDate: DateTime
    }[]
    links?: string[]
#}

<ul class="chapter-list">
    {% for chapter in chapters %}
        <li>
            <div class="chapter-list__item">
                <div class="chapter-list__name">
                    <a href="{{ path('read', { folder: chapter.folder }) }}">
                        {{ chapter.displayName ?? chapter.folder }}
                    </a>
                </div>
                <div>
                    {{ chapter.createDate.format('Y-m-d H:i:s') }}
                </div>
                {% for action in actions ?? [] %}
                    <button
                        class="chapter-list__action"
                        data-action="{{ action.route }}"
                        data-confirmation="{{ action.confirmation }}"
                        data-folder="{{ chapter.folder }}"
                    >
                        {{ action.label }}
                    </button>
                {% endfor %}
                {% for link in links ?? [] %}
                    <div>
                        <a href="{{ path(link, { folder: chapter.folder }) }}">
                            {{ link }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>
