{% extends 'base.html.twig' %}

{% block main %}
    <h1>Edit chapter</h1>
    {% for message in app.flashes('info') %}
        <div class="flash-info">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let deleteButton = document.getElementById('edit_delete');
        if (deleteButton) {
            deleteButton.addEventListener(
                'click',
                e => window.confirm('Are you sure you want to delete this chapter?') ||
                    e.preventDefault()
            );
        }
    </script>
{% endblock %}
