{#
chapter: {
    displayName: string
    isDeleted: bool
}
form: FormView
#}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-content">
        <h1>Edit chapter</h1>
        {{ form_start(form) }}
        {{ form_widget(form, { attr: { class: 'edit-form' } }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const deleteButton = document.getElementById('edit_delete');
        if (deleteButton) {
            const confirmation =
                'Do you want to move this chapter to the recycle bin?\n' +
                'The chapter stays in the recycle bin and can be restored at any time.';
            deleteButton.addEventListener('click', e => window.confirm(confirmation) || e.preventDefault());
        }

        const restoreButton = document.getElementById('edit_restore');
        if (restoreButton) {
            const confirmation = 'Do you want to restore this chapter from the recycle bin?';
            restoreButton.addEventListener('click', e => window.confirm(confirmation) || e.preventDefault());
        }
    </script>
{% endblock %}

{% block menu_middle %}
    {% if chapter.isDeleted %}
        <div class="menu__item">
            <a href="{{ path('recycle-bin') }}">Recycle bin</a>
        </div>
    {% endif %}
{% endblock %}

{% block title %}Edit "{{ chapter.displayName }}" - {{ parent() }}{% endblock %}
