{#
    files: string[]
    folder: string
    isHorizontal: bool
#}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="read__container {{ isHorizontal ? 'read__container--horizontal' }}">
        {% for file in files %}
            <img
                alt=""
                class="read__image {{ isHorizontal ? 'read__image--horizontal' }}"
                data-index="{{ loop.index }}"
                src="/chapters/{{ folder }}/{{ file }}"
            />
        {% endfor %}
    </div>
{% endblock %}
